.courses__button_course-status_sign-up {
  border: 1.2px solid $color-tertiary;
  color: $color-primary;
  background-color: #ffffff;
}

.courses__button_course-status_sign-up:hover {
  color: #ffffff;
  background-color: $color-primary;
}
