.button_type_action {
  border: 1.2px solid var(--color-tertiary);
  color: var(--color-primary);
  background-color: #ffffff;
}

.button_type_action:hover {
  color: #ffffff;
  background-color: var(--color-primary);
}
