.sidebar__icon-arrow {
  background: url("../../../images/arrow-down.svg") no-repeat center;
  width: 24px;
  height: 24px;
}

.sidebar__filter_active .sidebar__icon-arrow {
  background-image: url("../../../images/arrow-up.svg");
}
