.sidebar__icon-arrow {
  background: url("../../../images/arrow-down.svg") no-repeat center;
  width: 24px;
  height: 24px;
  transform: rotate(0);
  transition: transform 0.3s ease;
}

.sidebar__filter[open] .sidebar__icon-arrow {
  transform: rotate(180deg);
}
