.sidebar__checkbox-label {
  display: flex;
  align-items: center;
  transition: color .3s ease;
  cursor: pointer;
}

.sidebar__hidden-checkbox:checked ~ .sidebar__checkbox-label {
  color: #f06000;
}

.sidebar__checkbox-label:hover {
  color: #f06000;
}

