@font-face {
  font-family: 'GolosTextWebBold';
  src: url('../fonts/Golos-Text_Bold.woff2') format('woff2'),
  url('../fonts/Golos-Text_Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GolosTextWebRegular';
  src: url('../fonts/Golos-Text_Regular.woff2') format('woff2'),
  url('../fonts/Golos-Text_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
