.sidebar__filter-title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 32px 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  transition: color .3s ease;
}
