.form__input {
  font: var(--text-main);
  margin-bottom: 32px;
  border: 1.2px solid var(--color-tertiary);
  border-radius: var(--radius);
  padding: 12px 16px;
  background-image: url(../../../images/i-edit.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 550px center;
}
