.form__input {
  font: var(--text-main);
  margin-bottom: 32px;
  border: 1.2px solid var(--color-tertiary);
  border-radius: var(--radius);
  padding: 12px 16px;
}

.form__input:focus {
  outline-color: var(--color-primary);
}
