.sidebar__filter {
  position: relative;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.sidebar__filter:last-of-type {
  border-bottom: none;
}

::marker {
  content: ' ';
}
