.sidebar__checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid var(--dark-primary);
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 10px;
  transition: border-color 0.3s ease;
}

.sidebar__checkbox-label:hover .sidebar__checkbox {
  border: 2px solid var(--color-hover);
}

.sidebar__hidden-checkbox:checked ~ .sidebar__checkbox-label .sidebar__checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-hover);
  background-image: url("../../../images/i-check.svg");
  background-repeat: no-repeat;
  background-position: center 4px;
}
