.sidebar__checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  box-sizing: border-box;
  border: 2px solid var(--dark-primary);
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.sidebar__checkbox-label:hover .sidebar__checkbox {
  border: 2px solid var(--color-hover);
}

.sidebar__hidden-checkbox:checked ~ .sidebar__checkbox-label {
  color: var(--color-hover);
}

.sidebar__hidden-checkbox:checked ~ .sidebar__checkbox-label .sidebar__checkbox {
  border: 2px solid var(--color-hover);
  background: url("../../../images/i-check.svg") no-repeat center 4px;
}
